@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
  --font-playfair-display: "Playfair Display", serif;
}

/* Hide scrollbar globally but allow scrolling */
* {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none !important;
  /* Chrome, Safari and Opera */
}